.ql-container {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: white;
    min-height: 150px;
    font-family: inherit;
    font-size: 0.95rem;
}

.ql-toolbar {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: #f8fafc;
    border-color: #cbd5e1 !important;
}

.ql-container.ql-snow {
    border-color: #cbd5e1 !important;
}